.headerSpacer {
  flex: 1 1 auto;
}

ul {
  margin: auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
    color: #eb4f78;
    transition: 0.4s;
  }
  
.bgHeader {
    background-color: #464545;
}
