/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.styleSnackBarError{
background-color: #db5656;
color: #ffffff
}

.styleSnackBarSuccesfull{
    background-color: #528556;
    color: #ffffff
    }

